* {
    
    font-family: Arial, Helvetica, sans-serif;

}


.menu{ margin: 35px;}
.menu li {
    display: inline; margin: 15px;
}

nav {
    text-align: center; 

}

.conteiner {
    width: 100%;
    border-bottom: 0.1em solid;
    display: flex; 


}

.nombre {
    font-weight: bold;
    font-size: 40px; 
    margin-top: 0;
    padding: 0px;

}

.profile-conteiner {
    width: 1300px;
    text-align: justify;
    margin-left: 25px;
    margin-right: 25px;

}

#resaltado {
    width: 610px;
    font-size: 25px;
    background-color: navajowhite;
}

.education{
    width: 100%;
   padding-left: 25px;
   padding-right: 25px;
    
}

.education-container{ display: flex;}

.education-element{
    width: 50%;
    text-align: justify;
}

